@page "/signin"
   

<div class="boostPTE-SignIn">
    <div class=" main ">
        <div class="main-wrap  ">
            <div class="account-form__header ">
                <div class="logo ">
                    <a class="account-form__header-wrapItem " target="_blank" rel="noopener noreferrer" href="https://boostpte.com/">
                        <img src="/images/mainLogo.png" alt="logo">
                    </a>
                </div>
            </div>
            <div class="sign-in ">
                <form class="sign-in-wrap " action="" autocomplete="off">
                    <div class="custom-input ">
                        <label class="cus-input__title " for="userEmail ">Email Address</label>
                        <div class="custom-input__wrap">
                            <input class="custom-input__input"
                                   autocomplete="off"
                                   name="userEmail"
                                   placeholder="johndoe@gmail.com "
                                   id="userEmail"
                                   type="text">
                        </div>
                    </div>
                    <div class="custom-input ">
                        <label class="cus-input__title " for="userEmail ">Password</label>
                        <div class="custom-input__wrap">
                            <input class="custom-input__input"
                                   autocomplete="off"
                                   name="userEmail"
                                   placeholder="****** "
                                   id="userEmail"
                                   type="text">
                        </div>
                    </div>
                    <div class="sign-in__form--wrapper   ">
                        <div class="remember-checkbox ">
                            <input type="checkbox" id="remember" name="remember">
                            <label for="remember">Remember</label>
                        </div>
                        <div class="forget-password  ">
                            <a href="https://my.boostpte.com/account/forgot-password">Forgot Password?</a>
                        </div>
                    </div>
                    <div class="sign-in__btn ">
                        <button class=" sign-in__btn-wrap ">
                            <span>Sign In</span>
                        </button>
                    </div>
                </form>
                <p class="text__under">
                    Don't have an account yet?
                    <a href="https://my.boostpte.com/account/sign-up" class="underline text-[#007fa3]">Sign Up</a>
                </p>
                <div class="account-form__social ">
                    <div class="account-form--sign__or">
                        <span>
                            or
                        </span>
                    </div>
                    <div class="account-form__social--container ">
                        <div class="group-social">
                            <div class="group-social__container  ">
                                <a href="https://accounts.google.com/o/oauth2/v2/auth/oauthchooseaccount?client_id=10249845505-uvots695mivm73hetscpjjjnin9t7a0g.apps.googleusercontent.com&redirect_uri=https%3A%2F%2Fprotocol.jframework.live%2Fapi%2Faccounts%2Fauth%2Fgoogle%2Fcallback&response_type=code&scope=openid%20email%20profile&access_type=offline&state=hRjlmQqZ96TQ2%2FahbNSuoL6NvcdsCFqXWiwJUViysF7b0k5r28r%2FdmTy%2Ba%2FaXqzl&prompt=consent&service=lso&o2v=2&flowName=GeneralOAuthFlow">
                                    <img class=" group-social__container-img"
                                         src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAHpSURBVHgBnVPLTttQEJ251zaq+pArlapdVHLUZV9WX2ubVmo3VaN21W6gXxA+oBVBaruq1PAFaVcoEkiwY0W8YIF4hi+I9zxipEQBYt/hXsOFOIQsOAtrxpozZ14XoQcNz7VjZhWAUR4I3PQnQg0JatzsTN5eqIXd8djt7Lx5PQogSgRow2UgLA4vrkxql2lj9+3LCQL6N5Cs+ED5uufZmQoa710n7pj1syCCkCOUjhI+r3zDiB0SWJZm1BLX/VwQRDrWUB/+ZL8cb9w5IyeC+3eD5bBLWNk5pdxNTitoV8ExErN+uDoMB0v3oNOycvez5IEwzIS7JI2hV9tgPW4E1od2hjzyszkuy+o7F8FwzkgIXaZ3cS3euhCFUABEp18CJuh8C1eFgYxCudvUCeMbz+ROshEEU5kWGMpbAeekOoyQqmDHidmotB9CqfVIHYq/9mUmuExx5FezrhMIQT5DH6I/zadBSlaCSGV3Ou/0Jf9uTWiyHHwY/LgZpHdQaT/4ZiBsStOWzTgcefVF5XORYbLFE4g68k0g44WjnQXP2n93KgTFtAud/fn0pzGG6bUNxNBeHqy9j/+r32+NZRIoSFX1Av+iHlIfkICp9a+z49rH3gDVPwPmyWpGZZ/u6e9ITmwekc/1DvgYJYq4kHy7PNkAAAAASUVORK5CYII=" alt="iconGoogle">
                                    <p>Continue with Google</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="language-menu  ">
            <div class="language-menu__wrap

                ">
                <img src="/images/iconEnglish.jpg" alt="">
                <p>English</p>
                <img src="/images/iconDropDown.svg" alt="">
            </div>
        </div>
        <p class="account-layout__version fixed right-21 bottom-2 text-xs text-[#fff] mb-4 mt-0">
            <a href="https://my.boostpte.com/release-notes.html " target="_blank"
               class="account-layout__version-link text-current no-underline">
                Version 2.4.30.3
            </a>
        </p>
    </div>
</div>

    